/* ~~~~~~~~~~~~~~~~~~~~~~~~~~     color palette        ~~~~~~~~~~~~~~~~~~~~~~~~~~ */


:root {
    --bg-color-1: #e7d7e0;
    --bg-color-2: #e5ebec;
    --font: #040303;
    --accent-1: #cda924;
    --accent-2: #c48d22;
    --dark: #040303;

    /* #3A4E48; */
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~     CSS resets ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Change box-sizing default to border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}

/* respect user font size preferences */

html {
    font-size: 100%;
}

/* make images responsive */

img {

    /* display: block; */
    max-width: 33%;
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~     General CSS ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color-1);
    color: var(--font);
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    margin: 5rem 5rem 25rem 3rem;



}

h1 {
    margin: 1rem;
}

footer {
    padding: 1rem 2rem;
}

.variable-tint {
    position: relative;
    width: 640px;
    margin: auto;
}

.variable-tint img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tint-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: var(--tint);
    mix-blend-mode: multiply;
}

img {
    width: 85rem;
}

.hidden {
    display: none;
}


#img1 {
    position: absolute;
    top: 35rem;
    bottom: 10rem;
}

#img2 {
    position: absolute;
    top: 25rem;
    left: 45rem;

}

#img3 {
    position: absolute;
    bottom: 5rem;
    right: 3rem;
}

#img4 {
    position: absolute;
    top: 50rem;
    bottom: 18rem;
    left: 35
}

#img5 {
    position: absolute;
    top: 17rem;
    left: 21rem;

}

#img6 {
    position: absolute;
    bottom: 45rem;
    right: 9rem;
}

#img7 {
    position: absolute;
    top: 21rem;
    bottom: 45rem;
    right: 70rem;
}